body{
    margin:0 auto;
    overflow-x: hidden;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:40%;
    
}
.logo{
    width: 20%;
    height: auto;
    padding-left:6%;
}
.header p{
    color:#52bee8;
    
}
.menu{
    width: 100%;
    border-top: #dfdfdf solid 0.1em;
    border-bottom: #dfdfdf solid 0.1em;
}
.list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap:3%;
    padding-left:8.5%;
    color:#3b4043;
}

.firstPart{
    width: 100%;
    padding-top:5em;;
    padding-bottom: 5em;
    display: flex;
    flex-direction: row;
    gap:0.3em;
    border-bottom: #dfdfdf solid 0.1em;
    padding-left:6em;
    color:#8c8c8c;
}
.element{
    width: 10em;
    height: 10em;;
    background-color: #f1f3f2;
}


.element p{
    padding-left: 1em;
    padding-bottom: 1em;
    margin-top:0em;
}
.img1{
    width: 7em;
    height: auto;
    margin-top:2em;
}
.img2{
    margin-top:2.6em;
    width: 7em;
    height: auto;
}
.img3{
    margin-top:2.7em;
    width: 7em;
    height: auto;
}
.img4{
    margin-top:2.3em;
    width: 7em;
    height: auto;
}
.img5{
    margin-top:2.3em;
    width: 7em;
    height: auto;
}

.secondPart{
    display: flex;
    flex-direction: column;
    padding-bottom: 12em;
    
}

.secondPart p{
    padding-left:6.5em;
    font-size: 1.3em;;
}
.secondPart img{
    padding-left:3em;
}
.logos{
    width: 85%;
    height: auto;
}

.footer{
    width: 100%;
    background-color: #edefee;
    height: 4.5em;;
    display: flex;
    flex-direction: row;
}
.footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top:1em;
    /* gap:1em; */
   
    color:#717571;
}
.footer li{
    border-right: #c5c5c5 solid 0.1em;
    padding-right:0.5em;
    margin-left:0;
    padding-left: 0.5em;
    height: 1.1em;;
}
.footer li:last-of-type{
    border-right: none;
}
.footer img:first-of-type{
    padding-top:0.8em;
    width: 10%;
    height: auto;
    padding-left:5.5em;
}

.imgL{
    padding-top:1.6em;
    padding-left:2em;
    width: 1em;
    height: 1em;
}
.imgR{
    padding-top:1.6em;
    padding-left:1.3em;
    width: 1em;
    height: 1em;
}


.Follow{
    margin-top:1.5em;
    padding-left:5em;
}

.LinkedIn{
    padding-top: 0.5em;
    padding-left:0.8em;
}
.Twitter{
    padding-top: 0.5em;
    padding-left:0.7em;
}